.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #262A41 no-repeat;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 16px;
      color: #fff;
      padding-right: 0.2rem;
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
    }


    .Onboarding {
        background: #262A41 no-repeat ;
        opacity: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .container{
        margin-left: 5rem;
        margin-right: 5rem;
        justify-content: center;
        align-items: center;
    }
    .welcome-name{
        color: #fff;
        font-size: 2.5rem;
        font-family: Poppins, sans-serif;
        letter-spacing: -0.05px;
        opacity: 1;
    }
    .welcome-text {
        font-size: 14px;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        letter-spacing: 0.23px;
        color: #FFFFFF;
        opacity: 0.66;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .search-form{
        padding: 10px 20px;
        border-radius: 15px;
        background-color: #3C3F54;
        display: flex;
        align-items: center;
    }
    .search-ico{
        background-color: inherit;
        color: white;
        height: 23px !important;
        width: 23px !important;
    }
    .search{
        height: 40px;
        width: 100%;
        background-color: inherit;
        border: 1px solid #3C3F54;
        border-radius: 1.2rem;
        color: #fff;
        background-position-x: 5%;
        background-position-y: center;
        padding-left: 1rem;
        outline: none;
        font-size: 0.9rem;
    }
    .search::placeholder{
        color: #fff;
    }
    .show-users{
        font-size: 0.75rem;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        letter-spacing: 0.02px;
        color: #FFFFFF;
        opacity: 0.9;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    .gender-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .gender-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        margin-right: 1.4rem;
    }
    .gender{
        width: 4rem;
        height: 4rem;
        justify-content: center;
        outline: none;
        align-items: center;
        background: #F935A9 0% 0% no-repeat padding-box;
        border: 1px solid #F935A9;
        border-radius: 0.7rem;
        opacity: 1;
        cursor: pointer;
        transition: all 2s ease;
        transform: scale(1);
    }
    .gender:active {
        transform: scale(1.5) perspective(1px);
        width: 7rem;
        height: 7rem;
        border-radius: 3px solid #F935A9;
    }



.CardComponent{
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #F7F7FF no-repeat;
    border: 1px solid #707070;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-right: 3rem;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.searched{
    z-index: -2;
}
.searched-One{
    z-index: 1;
}
.accordion{
    overflow-y: scroll;
    scrollbar-width: none;
}
.userDetail-card{
    z-index: -1;
    display: none;
}
.userDetail-card-one{
    z-index: 1;
}
.scroll{
    margin-bottom: 0.2rem;
}
.scroll-one{
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    display: none;
    z-index: -1;
}

.header{
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04px;
    color: #262A41;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 1rem;
}
.filter{
    font-size: 0.7rem;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.search-container{
    width: 100%;
}
.search-form-two{
    padding: 7px 20px;
    border-radius: 25px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.search-ico-two{
    background-color: inherit;
    color: #555;
    height: 15px !important;
    width: 15px !important;
}


.search-bar 
{
    height: 2rem;        
    width: 100%;
    padding: 5px;
    background-color: inherit;
    border: none;
    border-radius: 1.8rem;
    background-position-x: 5%;
    background-position-y: center;
    color: #3C3F54;
    outline: none;
}
.search-bar::placeholder {
	opacity: 1;
    margin-left: 5rem;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: -0.02px;
    color: #3C3F54;
}
.footer-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    align-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.list__download-btn {
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: white;
    border: none;
    outline: none;
    background-color:  rgb(89, 40, 148);
    align-self: flex-start;
    cursor: pointer;
}

.download-icon {
    padding-right: 10px;
    height: 23px !important;
    width: 23px !important;
    transition: 2000ms;
}

.list__download-btn:hover {
    color: #FFF;
    box-shadow: 0 0 10px #333;
}

.list__download-btn:hover .download-icon {
    transform: rotate(-30deg);
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.prev{
    background: #E2E2EA 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2EA;
    border-radius: 8px;
    opacity: 1;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 0.4rem;
    cursor: pointer;
    outline: none;
}
.next{
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    background: #262A41 0% 0% no-repeat padding-box;
    box-shadow: 4px 5px 20px #0000001A;
    border-radius: 8px;
    opacity: 1;
    outline: none;
    cursor: pointer;
    border: 0.1px solid #262A41;
}
@media(max-width: 812px){
    .App {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 0;
      }
    .name{
        font-size: 1.5rem;
    }
    .search{
        width: 100%;
    }
    .container{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 2rem;
    }
    .CardComponent{
        margin: 0.9rem;
        width: 100%;
        height: auto;
        align-self: center;
        font-size: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .header{
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .filter{
        padding-left: 0.5rem;
        margin-top: 0.5rem;
    }
    .country{
        width: 6rem;
        border-radius: 1.2rem;
    }
    .pagination{
        margin-left: 7rem;
        bottom: 0;
    }
    .footer-section{
        display: flex;
    }
    .scroll{
        display: flex;
        flex-direction: column;
    }
    .switch-container{
        align-content: space-between;
    }
}