.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #262A41 no-repeat;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 16px;
      color: #fff;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
      padding-top: 0.6rem;
    }


    .Onboarding {
        background: #262A41 no-repeat ;
        opacity: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }
    .container{
        margin-left: 5rem;
        margin-right: 5rem;
        justify-content: center;
        align-items: center;
    }
    .name-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .welcome-name{
        color: #fff;
        font-size: 2rem;
        font-family: Poppins, sans-serif;
        font-weight: 200;
        letter-spacing: -0.05px;
        margin-right: 11px;
        opacity: 1;
    }
    /* #name {
        font-size: 1rem;
        font-family: Poppins, sans-serif;
        font-weight: bold;
        letter-spacing: -0.04px;
        color: #FFFFFF;
        opacity: 1;
    } */
    .welcome-text {
        font-size: 14px;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        letter-spacing: 0.23px;
        color: #FFFFFF;
        opacity: 0.66;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .search{
        height: 50px;
        width: 28.438rem;
        background-color: #3C3F54;
        border: 1px solid #3C3F54;
        background-image: url('https://github.githubassets.com/images/search-key-slash.svg') #fff no-repeat;
        border-radius: 1.2rem;
        color: #fff;
        background-position-x: 5%;
        background-position-y: center;
        padding-left: 3.2rem;
        outline: none;
        font-size: 0.9rem;
    }
    .search::placeholder{
        color: #fff;
    }
    .show-users{
        font-size: 0.75rem;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        letter-spacing: 0.02px;
        color: #FFFFFF;
        opacity: 0.9;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    .gender-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .gender-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        margin-right: 1.4rem;
    }
    .gender{
        width: 4rem;
        height: 4rem;
        justify-content: center;
        outline: none;
        align-items: center;
        background: #F935A9 0% 0% no-repeat padding-box;
        border: 1px solid #F935A9;
        border-radius: 0.7rem;
        opacity: 1;
        cursor: pointer;
        transition: all 2s ease;
        transform: scale(1);
    }
    .gender:active {
        transform: scale(1.5) perspective(1px);
        width: 7rem;
        height: 7rem;
        border-radius: 3px solid #F935A9;
    }



.CardComponent{
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #F7F7FF no-repeat;
    border: 1px solid #707070;
    border-radius: 1rem;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    padding-right: 3rem;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.searched{
    z-index: -2;
}
.searched-One{
    z-index: 1;
}
.accordion{
    overflow-y: scroll;
    scrollbar-width: none;
}
.userDetail-card{
    z-index: -1;
    display: none;
}
.userDetail-card-one{
    z-index: 1;
}
.scroll{
    margin-bottom: 0.2rem;
}
.scroll-one{
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    display: none;
    z-index: -1;
}

.header{
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04px;
    color: #262A41;
    opacity: 1;
    margin-top: 1rem;
}
.filter{
    font-size: 0.7rem;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.search-container{
    display: flex;
    flex-direction: row;
}
.search-bar 
{
    height: 2.3rem;        
    width: 19rem;
    background: #E2E2EA url('https://github.githubassets.com/images/search-key-slash.svg') no-repeat padding-box;
    border: 1px solid #E2E2EA;
    border-radius: 1.8rem;
    margin-bottom: 0.5rem;
    background-position-x: 5%;
    background-position-y: center;
    color: #3C3F54;
    padding-left: 3rem;
    outline: none;
}
.search-bar::placeholder {
	opacity: 1;
    margin-left: 5rem;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: -0.02px;
    color: #3C3F54;
}
.country{
    background: #E2E2EA 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2EA;
    border-radius: 35px;
    height: 2.3rem;
    width: 10rem;
    color: #262A41;
    font-weight: 600;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    letter-spacing: -0.02;
    border-radius: 1.8rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    outline: none;
}
.switch-container{
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.switch{
    display: flex;
    flex-direction: row;
    width: 2.5rem;
    height: 1.3rem;
    background: #30BBB5 0% 0% no-repeat padding-box;
    border-radius: 0.9rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
    cursor: pointer;
    align-content: center;
    justify-content: flex-end;
}
.switch-one {
    display: flex;
    flex-direction: row;
    width: 2.5rem;
    height: 1.3rem;
    background: #30BBB5 0% 0% no-repeat padding-box;
    border-radius: 0.9rem;
    margin-left: 1rem;
    margin-right: 0.4rem;
    align-content: center;
    cursor: pointer;
    justify-content: flex-start;
}
.inner-switch{
    outline: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.2px solid #fff;
    cursor: pointer;
    color: #fff;
    background-color: #fff;
    align-self: center;
    margin-right: 1.8px;
    margin-left: 1.5px;
}

.switch-country{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: -0.42px;
    color: #000000;
    opacity: 0.62;
    text-decoration: none;
}
.footer-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    align-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.download{
    background-color: #7946C1;
    display: inline-block;
    border-radius: 35px;
    border: 1px solid #7946C1;
    height: 2.6rem;
    align-self: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    justify-self: flex-start;
    font-weight: 600;
    font-size: 0.7rem;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.19px;
    color: #FFFFFF;
    outline: none;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.prev{
    background: #E2E2EA 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2EA;
    border-radius: 11px;
    opacity: 1;
    width: 2.3rem;
    height: 2.3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 0.4rem;
    cursor: pointer;
    outline: none;
}
.next{
    height: 2.3rem;
    width: 2.3rem;
    justify-content: center;
    align-items: center;
    background: #262A41 0% 0% no-repeat padding-box;
    box-shadow: 4px 5px 20px #0000001A;
    border-radius: 11px;
    opacity: 1;
    outline: none;
    cursor: pointer;
    border: 1px solid #262A41;
}
@media(max-width: 500px){
    .App {
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 0;
      }
    .name{
        font-size: 1.5rem;
    }
    .gender-section{
        margin: 0.5rem;
    }
    .search{
        width: 19.438rem;
    }
    .container{
        margin: 2rem;
    }
    .gender-container{
        margin-right: 1.4rem;
    }
    .gender{
        height: 3rem;
        width: 3rem;
    }
    .CardComponent{
        margin: 0.9rem;
        width: 100%;
        height: auto;
        align-self: center;
        font-size: 0.8rem;
        padding-left: none;
        padding-right: 0.1rem;
    }
    .header{
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .filter{
        padding-left: 0.5rem;
        margin-top: 0.5rem;
    }
    .search-bar{
        width: 7rem;
        padding-left: 1.8rem;
    }
    .country{
        width: 6rem;
        border-radius: 1.2rem;
    }
    .pagination{
        margin-left: 7rem;
        bottom: 0;
    }
    .footer-section{
        display: flex;
    }
    .scroll{
        display: flex;
        flex-direction: column;
    }
    .switch-container{
        align-content: space-between;
    }
}