.user-container{
    width: 100%;
    height: 100%;
    background: #F7F7FF no-repeat;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
}
.back-arrow-icon {
    height: 35px !important;
    width: 35px !important;
    color: rgb(55, 211, 195);;
}
.back-to-results-btn {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    color: #262A41;
    opacity: 0.7;
    outline: none;
    font-weight: medium;
    align-items: center;
}
.user-profile{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.profile-img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    background: transparent /*url('../Component/profile.png')*/ 0% 0% no-repeat padding-box;
    border: 6px solid #75D6D1;
    opacity: 1;
    justify-content: center;
    align-items: center;
}
.profile-img-large{
    height: 12rem;
    width: 12rem;
}
.profile-details{
    margin-left: 1.5rem;
}
.bio{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.bio-name{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.03px;
    color: #262A41;
    opacity: 1;
    margin-right: 1rem;
}
.bio-age{
    font-size: 1.4rem;
    font-weight: 200;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.03px;
    color: #262A41;
    opacity: 1;
}
.profile-address{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.9;
    margin-bottom: 0.8rem;
}
.profile-email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    background: #E2E2EA 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2EA;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.7rem;
    height: 2rem;
}
.ico{
    margin-right: 0.4rem;
    color: #262A41;
    opacity: 0.52;
    font-size: 0.8rem;
}
.email-text{
    font-size: 1rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.8;
}
.joined{
    background: #eea8d2 0% 0% no-repeat padding-box;
    margin-bottom: 0.7rem;
    height: 1.9rem;
    font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    border: 1px solid #eea8d2;
    border-radius: 0.7rem;
    color: #262A41;
    padding-right: 0.1rem;
    padding-left: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    margin-right: 11rem;
    opacity: 0.8;
}
.joined-text{
    font-family: Poppins, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: -0.18px;
    margin-left: 0.2rem;
    color: #262A41;
    opacity: 1;
}
.phone{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-no{
    font-size: 0.8rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
}
@media(max-width: 500px){
    .user-container{
        margin-bottom: 6rem;
    }
    .profile-img{
        height: 8rem;
        width: 8rem;
    }
    .profile-img-large{
        height: 8rem;
        width: 8rem;
    }
    .profile-details{
        margin-left: 0.9rem;
    }
    .bio{
        flex-direction: column;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .bio-name{
        font-size: 1.2rem;
        margin-right: 0.2rem;
    }
    .bio-age{
        font-size: 0.9rem;
    }
    .profile-address{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .profile-email{
        height: 1.5rem;
        margin-bottom: 0.5rem;
        border-radius: 6px;
    }
    .email-text{
        font-size: 0.7rem;
    }
    .joined{
        height: 1.1rem;
        font-size: 0.6rem;
        margin-right: 5rem;
        border-radius: 6px;
    }
    .phone{
        margin-bottom: 0.5rem;
    }
    .result-button{
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
}