.search{
    height: 50px;
    width: 28.438rem;
    background: #3C3F54 0% 0% no-repeat padding-box;
    border: 1px solid #3C3F54;
    border-radius: 1.2rem;
    opacity: 1;
}
@media (max-width: 500px ){
    .search{
        width: 19.438rem;
    }
}