.user{
background: #FFF  no-repeat;
box-shadow: 10px 10px 40px #0000000D;
border-radius: 1.2rem;
opacity: 1;
display: flex;
height: 8rem;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: row;
margin-top: 0.6rem;
margin-bottom: 0.6rem;
padding-right: 1rem;
}

.accordion{
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    height: 100vh;
}
.accordion::-webkit-scrollbar{
    display: none;
}

.userDetail-card{
    z-index: -1;
    display: none;
}
.userDetail-card-one{
    z-index: 1;
    overflow-y: hidden;
    scrollbar-width: none;
    
}
.userDetail-card-one::-webkit-scrollbar{
    display: none;
}
.scroll{
    z-index: 1;
    margin-bottom: 0.2rem;
}
.scroll-one{
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    display: none;
    z-index: -1;
}




.image{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 4px solid #75D6D1;
    height: 4rem;
    width: 4rem;
}
.profile{
    height: 100%;
    width: 100%;
}
.user-detail{
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    width: 75%;
}
.name{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 1;
}
.address{
    font-style: italic;
    font-size: 0.8rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.9;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-email-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-email{
    font-size: 0.8rem;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    margin-right: 1rem;
}

.email-icon{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #a5a5b3;
    margin-right: 0.3rem;
    justify-content: center;
}
.footer-phone-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #a5a5b3;
}
.phone-icon{
    display: flex;
    flex-direction: column;
    color: #a5a5b3;
    font-size: 0.8rem;
    margin-right: 0.3rem;
    justify-content: center;
}
.footer-phone{
    font-size: 0.8rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    margin-right: 1rem;
}
.footer-button{
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    background: #30BBB5 0% 0% no-repeat padding-box;
    box-shadow: 2px 15px 30px #30BBB574;
    border-radius: 6px;
    opacity: 1;
    align-self: flex-end;
    margin-bottom: 1rem;
    border: 0.1rem solid #30BBB5;
    outline: none;
    cursor: pointer;
    padding-left: 0.1rem;
}
.footer-button:hover{
    background-color: rgb(27, 124, 115);
}
.footer-ico{
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}
@media(max-width: 812px){
    .footer-button{
        width: 1.6rem;
        height: 1.6rem;
        padding-left: 0.1rem;
        border-radius: 0.3rem;
    }
    .footer-ico{
        font-size: 1.2rem;
    }
    .user{
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        padding-bottom: 0.6rem;
        padding-top: 0.6rem;
        margin-bottom: 0.1rem;
        margin-top: 0.2rem;
    }
    .user-detail{
        width: 70%;
        margin-left: 0.8rem;
        justify-content: center;
    }
    .name{
        font-size: 0.8rem;
        height: 0.9rem;
    }
    .address{
        font-size: 0.8rem;
        height: auto;
        line-height: 1rem;
        margin-top: 0.4rem;
        margin-bottom: -0.2rem;
    }
    .footer-email{
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .footer-phone-div{
        /* margin-top: 0.3rem; */
        align-items: center;
        line-height: 1rem;
    }
    .footer-phone{
        font-size: 0.8rem;
    }
    .scroll{
        display: flex;
        flex-direction: column;
    }
}