.user{
/* width: 100%; */
/* height: 6.076134699853587vw; */
background: #FCFCFF  no-repeat;
box-shadow: 10px 10px 40px #0000000D;
border-radius: 1.2rem;
opacity: 1;
display: flex;
height: 8rem;
width: 100%;
align-items: center;
flex-direction: row;
margin-top: 0.4rem;
margin-bottom: 0.4rem;
padding-left: 2rem;
padding-bottom: 1rem;
padding-top: 1rem;
padding-right: 1rem;
/* flex: 1; */
/* margin-top: ; */
}
.image{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 4px solid #75D6D1;
    height: 4.5rem;
    width: 4.5rem;
}
.profile{
    height: 4rem;
    width: 4rem;
}
.user-detail{
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    justify-content: center;
    width: 75%;
}
.name{
    font-size: 1rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 1;
}
.address{
    font-style: italic;
    font-size: 0.8rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.69;
    margin-top: 1rem;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.footer-email{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    margin-right: 1rem;
}
.footer-phone{
    font-size: 0.8rem;
    font-weight: medium;
    font-family: Poppins, sans-serif;
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    margin-right: 1rem;
}
.footer-button{
    height: 2rem;
    width: 2rem;
    /* border-radius: 0.3rem; */
    background: #30BBB5 0% 0% no-repeat padding-box;
    box-shadow: 2px 15px 30px #30BBB574;
    border-radius: 13px;
    opacity: 1;
    align-self: flex-end;
    margin-bottom: 0.5rem;
    border: 0.1rem solid #30BBB5;
    outline: none;
    cursor: pointer;
}