.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: #262A41 no-repeat;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #fff;
  }

@media (max-width: 500px) {
  .App {
    flex-direction: column;
    padding-right: none;
    padding-bottom: none;
  }
}

