@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  color: white;
  background: #262A41 no-repeat;
  width: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
}
